extends layout

block content
    a(href="/dashboard/upgrade-to-user?id=#{id}") User 
    br
    a(href="/dashboard/upgrade-to-admin?id=#{id}") Admin 
    br
    a(href="/dashboard/upgrade-to-refree?id=#{id}") Refree 
    br
    a(href="/dashboard/upgrade-to-student?id=#{id}") student 
    br
    a(href="/dashboard/remove-user?id=#{id}") delete
    
