extends layout

block content
    .two-part
        .part
            img.avatar(src="/images/man.png", alt="avatar")
            .text
                h1= user.fullname
                .item.blue= user.username
                .item 
                    i.fa.fa-envelope
                    | #{user.email}
                .item 
                    i.fa.fa-phone
                    | #{user.phone}
                a.edit(href="/dashboard")
                    i.fa.fa-edit
                    | ویرایش اطلاعات
        .part
            h1.part-title
                i.fa.fa-newspaper-o
                | آخرین اخبار
            .last-news
                table
                    tr
                        td.title
                            //- i.fa.fa-newspaper-o
                            | عنوان
                        td.text در اینجا اخبار سایت قرار خواهد گرفت. این اخبار توسط ادمین سایت اضافه می شدو و تمام کاربر ها آن را مشاهده می کنند.
                    tr
                        td.title عنوان
                        td.text در اینجا اخبار سایت قرار خواهد گرفت. این اخبار توسط ادمین سایت اضافه می شدو و تمام کاربر ها آن را مشاهده می کنند.
                    tr
                        td.title عنوان
                        td.text در اینجا اخبار سایت قرار خواهد گرفت. این اخبار توسط ادمین سایت اضافه می شدو و تمام کاربر ها آن را مشاهده می کنند.
    
    .dashboard-adtions
        .links
            a.admin-link(href="/dashboard/users-list") 
                i.fa.fa-users 
                | لیست کاربران 
            a.admin-link(href="/dashboard/teams-list") 
                i.fa.fa-users 
                | لیست تیم ها 
            -if(user.username == "fdmxfarhan"){
                -if(setting && setting.register){
                    a.admin-link(href="/dashboard/register-off") 
                        i.fa.fa-plus
                        | ثبت نام تیم ها باز
                -} else{
                    a.admin-link(href="/dashboard/register-on") 
                        i.fa.fa-plus
                        | ثبت نام تیم ها بسته
                -}
                a.admin-link(href="/dashboard/reset-game-admin") 
                    i.fa.fa-refresh
                    | ریست کردن بازی ها
                a.admin-link(href="/dashboard/double-price") 
                    i.fa.fa-refresh
                    | دوبرابر کردن هزینه ها
            -}
            a.admin-link(href="/export-certificate") 
                i.fa.fa-refresh
                | لیست سرتیفیکیت
            //- a.admin-link(href="/dashboard/make-member-account") 
            //-     i.fa.fa-users 
            //-     | ساخت اکانت برای همه دانش آموزان
            //- a.admin-link(href="/dashboard/delete-member-account") 
            //-     i.fa.fa-trash
            //-     | پاک کردن همه اکانت های دانش آموزان
        
        -if(user.username == "fdmxfarhan"){
            .info-card
                h1
                    i.fa.fa-dollar
                    | پرداخت شده
                .number.lightgreen #{payedAmount}
                    | ریال
                h1
                    i.fa.fa-dollar
                    | پرداخت نشده
                .number.lightred #{notPayedAmount}
                    | ریال
        -}
        .info-card
            h1
                i.fa.fa-pencil
                | تیم های تایید شده
            .number.lightgreen #{qualifiedTeams}
            h1
                i.fa.fa-pencil
                | تیم های تایید نشده
            .number.lightred #{disQualifiedTeams}
        .info-card
            h1
                i.fa.fa-user
                | تعداد دانش آموزان
            .number.lightgreen #{students}
            h1
                i.fa.fa-glass
                | درخواست تندیس
            .number.lightred #{cupRequest}

    

