extends layout

block content
    .table-content    
        table.list-info
            tr 
                th نام کامل
                th نام کاربری
                th ایمیل
                th تلفن
                th نقش کاربری
                th عملیات
            -for(var i=0; i<users.length; i++){
                tr
                    td= users[i].fullname
                    td= users[i].username
                    td= users[i].email
                    td= users[i].phone
                    td= users[i].role
                    td
                        a.change-user(href="#") تغییر
            -}