extends layout

block content
    .table-content    
        table.list-info
            tr 
                th نام تیم
                th سرپرست
                th لیگ
                th اعضا
                th عملیات
            -for(var i=0; i<teams.length; i++){
                tr
                    td= teams[i].teamName
                    td= teams[i].mentor
                    td= teams[i].league
                    td
                        -for(var j=0; j<teams[i].members.length; j++) {
                            | #{teams[i].members[j].fullName} 
                            -if(teams[i].members[j].cup)
                                //- i.fa.fa-check
                                | (دریافت تندیس)
                            br
                        -}
                    td
                        a.change-user(href="/dashboard/admin-edit-team?id=#{teams[i]._id}") 
                            i.fa.fa-edit 
                            | ویرایش
                        -if(!teams[i].qualified){
                            a.change-user(href="/dashboard/admin-accept-team?id=#{teams[i]._id}") 
                                | تایید
                        -}
            -}