extends layout

block content
    //- h1.game-title لیست بازی ها
    .round-links
        -if(round == 1)
            a.round.active(href="/dashboard/smartcar?round=1") راند ۱
        -else
            a.round(href="/dashboard/smartcar?round=1") راند ۱
        -if(round == 2)
            a.round.active(href="/dashboard/smartcar?round=2") راند ۲
        -else
            a.round(href="/dashboard/smartcar?round=2") راند ۲
        -if(round == 3)
            a.round.active(href="/dashboard/smartcar?round=3") راند ۳
        -else
            a.round(href="/dashboard/smartcar?round=3") راند ۳
        -if(round == 4)
            a.round.active(href="/dashboard/smartcar?round=4") راند ۴
        -else
            a.round(href="/dashboard/smartcar?round=4") راند ۴
        -if(round == 5)
            a.round.active(href="/dashboard/smartcar?round=5") راند ۵
        -else
            a.round(href="/dashboard/smartcar?round=5") راند ۵

    .game-list 
        table
            tr 
                th ردیف
                th نام تیم 
                th رکورد
                th زمین
                th زمان
                th مشاهده
                th ویرایش
                th حذف
            -for(var i=0; i<games.length; i++){
                tr 
                    td= i+1
                    td= games[i].teamA.teamName
                    td= games[i].goalA
                    td= games[i].field
                    td= games[i].time
                    td 
                        a(href="/dashboard/game?id=#{games[i]._id}") 
                            i.fa.fa-external-link 
                            | مشاهده
                    td 
                        a.edit-score.smal(id="edit#{i}")
                            i.fa.fa-edit 
                            | ویرایش
                    td 
                        a(href="/dashboard/smartcar-delete-game?id=#{games[i]._id}&round=#{round}") 
                            i.fa.fa-trash
                    
            -}

    .modal
    -for(var i=0; i<games.length; i++){
        .pop-up(id="editpanel#{i}")
            span.close#close-pup-up &times;
            h1.popup-title ویرایش بازی #{i+1}
            form(action="/dashboard/refree-smartcar-edit" method="POST") 
                input.hidden(type="number" name="round" value="#{round}")
                input.hidden(type="text" name="id" value="#{games[i]._id}")
                .input-pannel
                    label.num(for="goalA") رکورد:‌ 
                    input.num(type="number" name="goalA" value="#{games[i].goalA}")
                //- .input-pannel
                //-     label.num(for="goalB") گل تیم B:‌ 
                //-     input.num(type="number" name="goalB" value="#{games[i].goalB}")
                .input-pannel
                    label.num(for="field") زمین:‌ 
                    input.num(type="text" name="field" value="#{games[i].field}")
                .input-pannel
                    label.num(for="time") تایم:‌ 
                    input.num(type="text" name="time" value="#{games[i].time}")
                
                input.submit(type="submit" value="ثبت")
    -}
    form.add-game(action="/dashboard/add-game-smartcar" method="POST") 
        label(for="idA") نام تیم: 
        select.teamSelect#teamA(name="idA") 
            -for(var i=0; i<teams.length; i++){
                -if(teams[i].payed){
                    option(value="#{teams[i]._id}")= teams[i].teamName
                -}
            -}
        //- label(for="idB") تیم B: 
        //- select.teamSelect#teamB(name="idB") 
        //-     -for(var i=0; i<teams.length; i++){
        //-         option(value="#{teams[i]._id}")= teams[i].teamName
        //-     -}
        label(for="field") زمین: 
        select#field(name="field") 
            //- option(value="A") A 
            //- option(value="B") B 
            //- option(value="C") C 
            //- option(value="D") D 
            option(value="F") F
            option(value="G") G
        label(for="round") راند: 
        input.num(type="number" name="round" value='#{round}')
        label(for="time") زمان: 
        input.text(type="text" name="time")
        input.submit(type="submit" value="ثبت")

    a.score-board-edit(href="/dashboard/smartcar-score") جدول امتیازات
    a.link.return(href="/dashboard") بازگشت
    a.goto-game(href="/game/smartcar") 
        i.fa.fa-arrow-right
        | مشاهده بازی