extends layout

block content
    .two-part
        .part
            img.avatar(src="/images/man.png", alt="avatar")
            .text
                h1 #{user.fullname} (تیم 
                    a(href="/dashboard/team?id=#{team._id}") #{team.teamName}
                    | )
                .item.blue= user.username
                .item 
                    i.fa.fa-envelope
                    | #{user.email}
                .item 
                    i.fa.fa-phone
                    | #{user.phone}
                a.edit(href="/dashboard")
                    i.fa.fa-edit
                    | ویرایش اطلاعات
        .part
            h1.part-title
                i.fa.fa-newspaper-o
                | آخرین اخبار
            .last-news
                table
                    tr
                        td.title اطلاعیه شماره ۱
                        td.text سیزدهمین دوره مسابقات جونیورکاپ به صورت مجازی در فروردین سال ۱۴۰۰ برگزار میگردد و از تمامی دانش آموزان علاقه مند جهت حضور در مسابقه و کسب مهارت و تجربه دعوت به عمل می آید.
    -if(team.payed){
        .file-list
            .file-container.red-border
                h1.file-title برنامه ربات قرمز
                p.text لطفا فایل exe ربات قرمز با پورت 2000 و 7000 را در این قسمت آپلود نمایید.
                -if(team.redFile){
                    .uploaded-file 
                        a(href="#{team.redFile.path}/#{team.redFile.name}" download)= team.redFile.name
                            i.fa.fa-cloud-download
                -}
                    
                form.upload-code(action="/upload/red-code" enctype="multipart/form-data" method="POST") 
                    input.hidden(type="text" value="#{user.teamID}")
                    .upload-area فایل خود را انتخاب کنید
                        i.fa.fa-cloud-upload
                        input.file(type="file" name="myFile") 
                    input.submit(type="submit" value="ارسال")
            .file-container.blue-border
                h1.file-title برنامه ربات آبی
                p.text لطفا فایل exe ربات آبی با پورت 3000 و 8000 را در این قسمت آپلود نمایید.
                -if(team.blueFile){
                    .uploaded-file 
                        a(href="#{team.blueFile.path}/#{team.blueFile.name}" download)= team.blueFile.name
                            i.fa.fa-cloud-download
                -}
                    
                form.upload-code(action="/upload/blue-code" enctype="multipart/form-data" method="POST") 
                    input.hidden(type="text" value="#{user.teamID}")                
                    .upload-area فایل خود را انتخاب کنید
                        i.fa.fa-cloud-upload
                        input.file(type="file" name="myFile") 
                    input.submit(type="submit" value="ارسال")
    -}else{
        h1.title پرداخت تیم شما تکمیل نشده. جهت پرداخت 
            a(href="/dashboard/team?id=#{team._id}") اینجا
            |  را کلیک کنید.
    -}
        //- table 
        //-     tr 
        //-         th ردیف
        //-         th نام فایل
        //-         th دانلود
        //-         th تاریخ
        //-         th حذف
        //-     -for(var i=0; i<user.file.length; i++){
        //-         tr 
        //-             td= i+1
        //-             td= user.file[i].name
        //-             td
        //-                 a(href="#{user.file[i].path}/#{user.file[i].name}" download)
        //-                     i.fa.fa-cloud-download
        //-             td= shamsi(new Date(user.file[i].date))
        //-             td
        //-                 a(href="/dashboard/remove-upload?path=#{user.file[i].path}") 
        //-                     i.fa.fa-trash
        //-     -}
    //- form.upload-code(action="/upload/code" enctype="multipart/form-data" method="POST") 
    //-     input.hidden(type="text" value="#{user.teamID}")
    //-     input.file(type="file" name="myFile")
    //-     input.submit(type="submit" value="ارسال")