extends layout

block content
    .team-info-panel
        .part
            h1.info-title اطلاعات تیم
            .info
                a.edit
                    i.fa.fa-edit
                h1.name نام تیم: #{team.teamName}
                .item سرپرست: #{team.mentor}
                .item لیگ: #{team.league}
                .item وابستگی: #{team.affiliation}
                .item هزینه ثبت نام: #{team.price} ریال
                .item وضعیت پرداخت: 
                    -if(team.payed)
                        .green پرداخت شده
                    -else
                        .red پرداخت نشده
                .item وضعیت تایید: 
                    -if(team.qualified)
                        .green تایید شده
                    -else
                        .purple در حال بررسی
            -if(team.qualified && !team.payed){
                a.pay(href="/payment/pay-team?id=#{team._id}") 
                    i.fa.fa-tag
                    | پرداخت هزینه
            -}
        .part
            h1.info-title اعضا
            -for(var j=0; j<team.members.length; j++){
                .member
                    .name= team.members[j].fullName
                    .actions
                        a.get-cup(href="/dashboard/toggle-cup?idNumber=#{team.members[j].idNumber}&teamID=#{team._id}")
                            -if(team.members[j].cup && !team.payed)
                                | دریافت تندیس 
                            -else if(!team.payed)
                                | عدم دریافت تندیس 
                        -if(!team.payed){
                            a(href="/dashboard/remove-member?idNumber=#{team.members[j].idNumber}&teamName=#{team.teamName}")
                                i.fa.fa-trash
                        -}
            -}
            -if(team.members.length == 0){
                .no-members هیچ عضوی برای این تیم ثبت نشده.
            -}
            form.add-member(action="/dashboard/add-member" method="POST")
                input.hidden(type="text" name="teamName" value="#{team.teamName}")
                .text-input
                    i.fa.fa-user
                    input(type="text" name="fullName" placeholder="نام و نام خانوادگی" required)
                .text-input
                    i.fa.fa-user
                    input(type="Number" name="idNumber" placeholder="کد ملی" required)
                .text-input
                    i.fa.fa-user
                    input(type="text" name="birth" placeholder="تاریخ تولد" required)
                .text-input
                    i.fa.fa-user
                    input(type="Number" name="phone" placeholder="شماره تلفن" required)
                .text-input
                    i.fa.fa-user
                    input(type="text" name="address" placeholder="آدرس پستی" required)
                input(type="checkbox" name="cup")
                label(for="cup") مایل به دریافت تندیس مسابقات هستم
                br
                p.note (مبلغ ۷۵ هزار تومان بابت ساخت تندیس به هزینه ثبت نام شما اضافه می شود)
                input.inline-submit(type="submit" value="ثبت")
            -if(team.members.length < 4 && !team.payed){
                a.add-member
                    i.fa.fa-user-plus
                    | افزودن عضو جدید
            -}
    .modal
    .pop-up#edit-team
        form.edit-team(action="/dashboard/user-edit-team" method="POST") 
            input.hidden(type="text" name="id" value="#{team._id}")
            .input-item
                label(for="teamName") نام تیم: 
                input(type="text" name="teamName" value="#{team.teamName}")
            .input-item
                label(for="mentor") سرپرست: 
                input(type="text" name="mentor" value="#{team.mentor}")
            //- .input-item
            //-     label(for="league") لیگ: 
            //-     input(type="text" name="league" value="#{team.league}")
            .input-item
                label(for="affiliation") وابستگی: 
                input(type="text" name="affiliation" value="#{team.affiliation}")
            //- .input-item
            //-     label(for="price") هزینه: 
            //-     input(type="number" name="price" value="#{team.price}")
            input.submit(type="submit" value="ثبت تغییرات")

    script(src="/javascripts/editTeam.js") 