extends layout

block content
    .two-part
        .part
            img.avatar(src="/images/man.png", alt="avatar")
            .text
                h1= user.fullname
                .item.blue= user.username
                .item 
                    i.fa.fa-envelope
                    | #{user.email}
                .item 
                    i.fa.fa-phone
                    | #{user.phone}
                a.edit(href="/dashboard")
                    i.fa.fa-edit
                    | ویرایش اطلاعات
        .part
            h1.part-title
                i.fa.fa-newspaper-o
                | آخرین اخبار
            .last-news
                table
                    tr
                        td.title
                            //- i.fa.fa-newspaper-o
                            | عنوان
                        td.text در اینجا اخبار سایت قرار خواهد گرفت. این اخبار توسط ادمین سایت اضافه می شدو و تمام کاربر ها آن را مشاهده می کنند.
                    tr
                        td.title عنوان
                        td.text در اینجا اخبار سایت قرار خواهد گرفت. این اخبار توسط ادمین سایت اضافه می شدو و تمام کاربر ها آن را مشاهده می کنند.
                    tr
                        td.title عنوان
                        td.text در اینجا اخبار سایت قرار خواهد گرفت. این اخبار توسط ادمین سایت اضافه می شدو و تمام کاربر ها آن را مشاهده می کنند.
    h1.title 
        i.fa.fa-users
        | تیم های من
    .teams-area
        .all-content
            -if(teams){
                -for(var i=0; i<teams.length; i++){
                    //- a.team(id="team-info-btn-#{i}")
                    a.team(href="/dashboard/team?teamName=#{teams[i].teamName}")
                        .name= teams[i].teamName
                        .item= teams[i].mentor
                        .item= teams[i].league
                -}
            -}
            a.add-team
                i.fa.fa-plus
                h1 افزودن تیم جدید
    .pop-up-modal
    .pop-up#add-team-popup
        span.close#close-pup-up &times;
        h1.popup-title افزودن تیم جدید
        form.add-team-form(action="/dashboard/register-team" method="POST")
            .text-input
                i.fa.fa-users
                input(type="text" name="teamName" placeholder="نام تیم" required)
            .text-input
                i.fa.fa-user
                input(type="text" name="mentor" placeholder="نام سرپرست" required)
            .text-input
                i.fa.fa-envelope
                input(type="text" name="email" placeholder="پست الکترنیکی" value="#{user.email}" required)
            .text-input
                i.fa.fa-phone
                input(type="text" name="phone" placeholder="تلفن" value="#{user.phone}" required)
            .text-input
                i.fa.fa-link
                input(type="text" name="affiliation" placeholder="وابستگی" required)
            .text-input
                select#select(name="league" required)
                    option(value="فوتبالیست سبک وزن") فوتبالیست سبک وزن
                    option(value="فوتبالیست وزن آزاد") فوتبالیست وزن آزاد
                    option(value="امداد فضای مشترک") امداد فضای مشترک
                    option(value="برنامه نویسی") برنامه نویسی
                    option(value="خودروهای هوشمند") خودروهای هوشمند
            input.submit(type="submit" value="ثبت")
    //- -for(var i=0; i<teams.length; i++){
    //-     .pop-up.team-info-popup(id="team-info-#{i}")
    //-         span.close#close-pup-up &times;
    //-         .part
    //-             h1.info-title اطلاعات تیم
    //-             .info
    //-                 h1.name نام تیم: #{teams[i].teamName}
    //-                 .item سرپرست: #{teams[i].mentor}
    //-                 .item لیگ: #{teams[i].league}
    //-                 .item وابستگی: #{teams[i].affiliation}
    //-                 .item هزینه ثبت نام: #{teams[i].price} ریال
    //-                 .item وضعیت پرداخت: 
    //-                     -if(teams[i].payed)
    //-                         .green پرداخت شده
    //-                     -else
    //-                         .red پرداخت نشده
    //-                 .item وضعیت تایید: 
    //-                     -if(teams[i].qualified)
    //-                         .green تایید شده
    //-                     -else
    //-                         .purple در حال بررسی
    //-             a.pay(href="#") 
    //-                 i.fa.fa-tag
    //-                 | پرداخت هزینه
    //-         .part
    //-             h1.info-title اعضا
    //-             -for(var j=0; j<teams[i].members.length; j++){
    //-                 .member
    //-                     .name= teams[i].members[j].fullname
    //-                     .actions
    //-                         a(href="/dashboard/remove-member?member=#{teams[i].members[j].username}")
    //-                             i.fa.fa-trash
    //-             -}
    //-             -if(teams[i].members.length == 0){
    //-                 .no-members هیچ عضوی برای این تیم ثبت نشده.
    //-             -}
    //-             form.add-member(action="/dashboard/add-member" method="POST")
    //-                 input.hidden(type="text" name="teamName" value="#{teams[i].teamName}")
                    
    //-                 input.inline-submit(type="submit" value="ثبت")
    //-             a.add-member
    //-                 i.fa.fa-user-plus
    //-                 | افزودن عضو جدید
    //- -}
