extends layout

block content
    .two-part
        .part
            img.avatar(src="/images/man.png", alt="avatar")
            .text
                h1= user.fullname
                .item.blue= user.username
                .item 
                    i.fa.fa-envelope
                    | #{user.email}
                .item 
                    i.fa.fa-phone
                    | #{user.phone}
                a.edit(href="/dashboard")
                    i.fa.fa-edit
                    | ویرایش اطلاعات
        .part
            h1.part-title
                i.fa.fa-newspaper-o
                | آخرین اخبار
            .last-news
                table
                    tr
                        td.title اطلاعیه شماره ۱
                        td.text سیزدهمین دوره مسابقات جونیورکاپ به صورت مجازی در فروردین سال ۱۴۰۰ برگزار میگردد و از تمامی دانش آموزان علاقه مند جهت حضور در مسابقه و کسب مهارت و تجربه دعوت به عمل می آید.
                    
    h1.title 
        i.fa.fa-users
        | تیم های من
    .teams-area
        .all-content
            -if(teams){
                -for(var i=0; i<teams.length; i++){
                    //- a.team(id="team-info-btn-#{i}")
                    a.team(href="/dashboard/team?id=#{teams[i]._id}")
                        .name= teams[i].teamName
                        .item= teams[i].mentor
                        .item= teams[i].league
                -}
            -}
            a.add-team
                i.fa.fa-plus
                h1 افزودن تیم جدید
    .pop-up-modal
    .pop-up#add-team-popup
        span.close#close-pup-up &times;
        h1.popup-title افزودن تیم جدید
        //- h1.end-reg زمان ثبت نام به پایان رسید
        form.add-team-form(action="/dashboard/register-team" method="POST")
            .text-input
                i.fa.fa-users
                input(type="text" name="teamName" placeholder="نام تیم" required)
            .text-input
                i.fa.fa-user
                input(type="text" name="mentor" placeholder="نام سرپرست" required)
            .text-input
                i.fa.fa-envelope
                input(type="text" name="email" placeholder="پست الکترنیکی" value="#{user.email}" required)
            .text-input
                i.fa.fa-phone
                input(type="text" name="phone" placeholder="تلفن" value="#{user.phone}" required)
            .text-input
                i.fa.fa-link
                input(type="text" name="affiliation" placeholder="وابستگی" required)
            .text-input
                select#select(name="league" required)
                    option(value="فوتبالیست سبک وزن") فوتبالیست سبک وزن
                    option(value="فوتبالیست وزن آزاد") فوتبالیست وزن آزاد
                    option(value="امداد فضای مشترک") امداد فضای مشترک
                    option(value="برنامه نویسی") برنامه نویسی
                    option(value="خودروهای هوشمند") خودروهای هوشمند
            input.submit(type="submit" value="ثبت")
    