doctype html
html(lang="en")
    head
        title Ariana
        block styles
        link(rel='stylesheet', href='/stylesheets/ari.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/images/logo.png", type="image/x-icon")
        script(src="/javascripts/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#000000")
        
    body 
        h1#first Ariana
        h1#second You are the one
        h1#third Who I Love the Most in this world
        h1#fourth It's been #{time.weeks * 7 + time.days} days and #{time.hours} hours and #{time.minuts} minuts and #{time.secconds} secconds that my heart is beating for you
        
        .timer 
            .part 
                .num #{time.weeks * 7 + time.days}
                .text days
            .part 
                .num #{time.hours} 
                .text hours
            .part 
                .num #{time.minuts}
                .text minuts
            .part 
                .num #{time.secconds}
                .text secconds
            
        audio.audio(autoplay="autoplay" controls loop  id="playAudio")
            source(src="/musics/Calum-Scott-You-are-the-reason.mp3")
        
        script(src="/javascripts/ari.js")