extends ../layout

block styles
    link(rel="stylesheet", href="/stylesheets/game-home.css")

block content
    .leagues-cards
        .card.small
            a(href="/game/soccer-light-primary")
                .overflow-hidden
                    .img
                        img(src="/images/leagues/light-min.png")
                    .content
                        h1.title ربات های فوتبالیست سبک وزن primary
                        p زمین A, B
                    br
                .labels
                    .label.red
                        i.fa.fa-clock-o
                        | در حال برگزاری
        .card.small
            a(href="/game/soccer-light-secondary")
                .overflow-hidden
                    .img
                        img(src="/images/leagues/light-min.png")
                    .content
                        h1.title ربات های فوتبالیست سبک وزن secondary
                        p زمین C, D
                    br
                .labels
                    .label.red
                        i.fa.fa-clock-o
                        | در حال برگزاری
        .card.small
            a(href="/game/soccer-open")
                .overflow-hidden
                    .img
                        img(src="/images/leagues/Open-min.png")
                    .content
                        h1.title ربات های فوتبالیست وزن آزاد
                        p زمین E
                    br
                .labels
                    .label.red
                        i.fa.fa-clock-o
                        | در حال برگزاری
        .card.small
            a(href="/game/smartcar")
                .overflow-hidden
                    .img
                        img(src="/images/leagues/pathfinder-min.png")
                    .content
                        h1.title خودرو هوشمند
                        p زمین F, G
                    br
                .labels
                    .label.red
                        i.fa.fa-clock-o
                        | در حال برگزاری
        .card.small
            a(href="/game/cospace")
                .overflow-hidden
                    .img
                        img(src="/images/leagues/cospace-min.png")
                    .content
                        h1.title امداد فضای مشترک
                        p زمین H, I, J, K
                    br
                .labels
                    .label.red
                        i.fa.fa-clock-o
                        | در حال برگزاری
        .card.small
            a(href="http://juniorcupjudge.ir/")
                .overflow-hidden
                    .img
                        img(src="/images/leagues/programming-min.png")
                    .content
                        h1.title برنامه نویسی
                        p وب سایت judge
                    br
                .labels
                    .label.red
                        i.fa.fa-clock-o
                        | در حال برگزاری
        .card.small
            a(href="/game/soccer2d")
                .overflow-hidden
                    .img
                        img(src="/images/leagues/programming-min.png")
                    .content
                        h1.title فوتبال ۲ بعدی
                        p زمین L
                    br
                .labels
                    .label.red
                        i.fa.fa-clock-o
                        | در حال برگزاری
        .card.small
            a(href="/game/virtual-rescue")
                .overflow-hidden
                    .img
                        img(src="/images/leagues/programming-min.png")
                    .content
                        h1.title virtual rescue
                        p زمین M, N
                    br
                .labels
                    .label.red
                        i.fa.fa-clock-o
                        | در حال برگزاری
        
    .room-links-area
        a.bold(href="https://juniorcupsetup.ir/conference_hall/?proto=true") تالار اجتماعات
    
    .room-choose
        -if(room == 'soccer')
            a.room-link.active(href="/game?room=soccer") فوتبالیست 
        -else
            a.room-link(href="/game?room=soccer") فوتبالیست 
        -if(room == 'smartcar')
            a.room-link.active(href="/game?room=smartcar") خودرو هوشمند 
        -else
            a.room-link(href="/game?room=smartcar") خودرو هوشمند 
        -if(room == 'cospace')
            a.room-link.active(href="/game?room=cospace") امداد فضای مشترک 
        -else
            a.room-link(href="/game?room=cospace") امداد فضای مشترک 
        -if(room == 'programming')
            a.room-link.active(href="/game?room=programming") برنامه نویسی 
        -else
            a.room-link(href="/game?room=programming") برنامه نویسی 
        -if(room == 'soccer2d')
            a.room-link.active(href="/game?room=soccer2d") فوتبال ۲ بعدی 
        -else
            a.room-link(href="/game?room=soccer2d") فوتبال ۲ بعدی 
    .room-links-area
        -if(room == 'soccer'){
            -for(var i=0; i<soccerRooms.length; i++){
                a(href="#{soccerRooms[i].link}")= soccerRooms[i].name 
            -}
        -}
        -if(room == 'smartcar'){
            -for(var i=0; i<smartcarRooms.length; i++){
                a(href="#{smartcarRooms[i].link}")= smartcarRooms[i].name 
            -}
        -}
        -if(room == 'cospace'){
            -for(var i=0; i<cospaceRooms.length; i++){
                a(href="#{cospaceRooms[i].link}")= cospaceRooms[i].name 
            -}
        -}
        -if(room == 'programming'){
            -for(var i=0; i<programmingRooms.length; i++){
                a(href="#{programmingRooms[i].link}")= programmingRooms[i].name 
            -}
        -}
        -if(room == 'soccer2d'){
            -for(var i=0; i<soccer2dRooms.length; i++){
                a(href="#{soccer2dRooms[i].link}")= soccer2dRooms[i].name 
            -}
        -}
        

    
    script(src="/javascripts/leagues.js")
    script.
        $(document).ready(function(){
            $('#nav-link2').removeClass('active');
            $('#nav-link10').addClass('active');
        });