extends ../layout

block styles
    link(rel="stylesheet", href="/stylesheets/game.css")
    script(src="/socket.io/socket.io.js")

block content
    h1.league-title لیگ ربات های فوتبالیست وزن آزاد
    .tab-view 
        .tab-links-with-chat
            -if(field == 'A')
                a.active(href="/game/soccer-open?field=A&round=#{round}") زمین A
            -else
                a(href="/game/soccer-open?field=A&round=#{round}") زمین A
            -if(field == 'B')
                a.active(href="/game/soccer-open?field=B&round=#{round}") زمین B
            -else 
                a(href="/game/soccer-open?field=B&round=#{round}") زمین B
            -if(field == 'C')
                a.active(href="/game/soccer-open?field=C&round=#{round}") زمین C
            -else 
                a(href="/game/soccer-open?field=C&round=#{round}") زمین C
            -if(field == 'D')
                a.active(href="/game/soccer-open?field=D&round=#{round}") زمین D
            -else 
                a(href="/game/soccer-open?field=D&round=#{round}") زمین D
            -if(field == 'E')
                a.active(href="/game/soccer-open?field=E&round=#{round}") زمین E
            -else 
                a(href="/game/soccer-open?field=E&round=#{round}") زمین E
        
        .chat-container 
            .chat-view 
                h1.chat-title زمین #{field}
                .messages-container#messages-container
                    //- .in-message 
                    //-     .message
                    //-         .sender ممد (team)
                    //-         .msg-content سلام داور چطوری؟
                    //-         .time 10:30
                    //- .out-message 
                    //-     .message
                    //-         .msg-content سلام داداش خوبم تو چطوری؟
                    //-         .time 10:30
                    
                .options-container
                    -if(game){
                        -if(user){
                            form(id="sendchat" action="") 
                                input.hidden(type="text" name="id" value="#{game._id}")
                                input.hidden(type="text" id="chat-sender" value="#{user.fullname}")
                                input.hidden(type="text" id="chat-field" value="#{game.field}")
                                input.hidden(type="text" id="chat-team" value="#{user.teamID}")
                                input.textinput(type="text" id="chat-msg" placeholder="ارسال پیام..." autocomplete="off")
                                input.submit(type="submit" value="ارسال")
                        -}else{
                            h1 لطفا ابتدا وارد حساب کاربری خود شوید
                            form.hidden(id="sendchat" action="") 
                                input.hidden(type="text" name="id" value="#{game._id}")
                                input.hidden(type="text" id="chat-sender" value="user")
                                input.hidden(type="text" id="chat-field" value="#{game.field}")
                                input.hidden(type="text" id="chat-team" value="team")
                                input.textinput(type="text" id="chat-msg" placeholder="ارسال پیام..." autocomplete="off")
                                input.submit(type="submit" value="ارسال")
                        -}
                    -}else{
                        h1 بازی هنوز شروع نشده
                    -}
        
        .tab-content 
            .score-board
                img.score(src="/images/score.png")
                -if(!game){
                    .team-a تیم A 
                    .goals 0 - 0
                    .team-b تیم B
                -}else{
                    .team-a= game.teamA.teamName
                    .goals #{game.goalA} - #{game.goalB}
                    .team-b= game.teamB.teamName
                -}
            .iframe-holder
                -if(field == 'A')
                    iframe(src="https://player.twitch.tv/?channel=juniorcupa&parent=juniorcup.ir" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620") 
                -if(field == 'B')
                    iframe(src="https://player.twitch.tv/?channel=juniorcupb&parent=juniorcup.ir" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620") 
                -if(field == 'C')
                    iframe(src="https://player.twitch.tv/?channel=juniorcupc&parent=juniorcup.ir" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620") 
                -if(field == 'D')
                    iframe(src="https://player.twitch.tv/?channel=juniorcupd&parent=juniorcup.ir" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620") 
                -if(field == 'E')
                    iframe(src="https://player.twitch.tv/?channel=juniorcupe&parent=juniorcup.ir" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620") 
                -if(field == 'F')
                    iframe(src="https://player.twitch.tv/?channel=juniorcupf&parent=juniorcup.ir" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620") 
                -if(field == 'G')
                    iframe(src="https://player.twitch.tv/?channel=juniorcupg&parent=juniorcup.ir" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620") 
                
            a.stream(href="https://www.twitch.tv/juniorcup#{field}") 
                i.fa.fa-external-link
                | نمایش استریم
            include upload
            //- .two-part
            //-     .partial
            //-         a.upload آپلود برنامه
            //-         form.hidden.upload(action="/upload/code" method="POST" enctype="multipart/form-data")
            //-             input.file(type="file" name="myFile")
            //-             input.submit(type="submit" value="ارسال")
            //-     .partial
            //-         a.objection ارسال پیام
            //-         form.hidden.objection(action="/game/objection") 
            //-             textarea(name="objection") 
            //-             input.submit(type="submit" value="ارسال")
    //- a.big-link(href="#") 
    //-     i.fa.fa-external-link
    //-     | مشاهده بازی های ضبط شده
    //- .saved-videos
    //-     <div id="48151212999"><script type="text/JavaScript" src="https://www.aparat.com/embed/jUN2Y?data[rnddiv]=48151212999&data[responsive]=yes"></script></div>
    h1.table-title جدول بازی ها 
        -if(round == 1)
            a.round.active(href="/game/soccer-open?field=#{field}&round=1") راند ۱
        -else
            a.round(href="/game/soccer-open?field=#{field}&round=1") راند ۱
        -if(round == 2)
            a.round.active(href="/game/soccer-open?field=#{field}&round=2") راند ۲
        -else
            a.round(href="/game/soccer-open?field=#{field}&round=2") راند ۲
        -if(round == 3)
            a.round.active(href="/game/soccer-open?field=#{field}&round=3") راند ۳
        -else
            a.round(href="/game/soccer-open?field=#{field}&round=3") راند ۳
        -if(round == 4)
            a.round.active(href="/game/soccer-open?field=#{field}&round=4") راند ۴
        -else
            a.round(href="/game/soccer-open?field=#{field}&round=4") راند ۴
        -if(round == 5)
            a.round.active(href="/game/soccer-open?field=#{field}&round=5") راند ۵
        -else
            a.round(href="/game/soccer-open?field=#{field}&round=5") راند ۵
        -if(round == 6)
            a.round.active(href="/game/soccer-open?field=#{field}&round=6") راند 6
        -else
            a.round(href="/game/soccer-open?field=#{field}&round=6") راند 6
        -if(round == 7)
            a.round.active(href="/game/soccer-open?field=#{field}&round=7") راند 7
        -else
            a.round(href="/game/soccer-open?field=#{field}&round=7") راند 7
        
    table.score-table
        tr 
            th ردیف
            th تیم قرمز
            th تیم آبی
            th زمین
            th ساعت
            th نتیجه
        -for(var i=0; i<games.length; i++){
            tr 
                td= i+1
                td= games[i].teamA.teamName
                td= games[i].teamB.teamName
                td= games[i].field
                td= games[i].time
                td #{games[i].goalA} - #{games[i].goalB} 
                    -if(games[i].goalA > games[i].goalB)
                        | به نفع #{games[i].teamA.teamName}
                    -else if(games[i].goalA < games[i].goalB)
                        | به نفع #{games[i].teamB.teamName}

                
        -}
    h1.table-title جدول امتیازات
    table.score-table
        tr 
            th رتبه
            th نام تیم
            th تعداد برد
            th تعداد باخت
            th تعداد مساوی
            th گل زده
            th گل خورده
            th تفاضل گل
            th امتیاز تکنیکال
            th امتیاز نهایی
        -for(var i=0; i<teams.length; i++){
            -if(teams[i].payed){
                tr 
                    td= i + 1
                    td= teams[i].teamName
                    td= teams[i].win
                    td= teams[i].lose
                    td= teams[i].equals
                    td= teams[i].goalzade
                    td= teams[i].goalkhorde
                    td= teams[i].goalzade - teams[i].goalkhorde
                    td= teams[i].technical
                    td= teams[i].score
            -}
        -}
    .saved-videos
        //- <div id="79800482726"><script type="text/JavaScript" src="https://www.aparat.com/embed/vcbf7?data[rnddiv]=79800482726&data[responsive]=yes"></script></div>
        //- <div id="19072788074"><script type="text/JavaScript" src="https://www.aparat.com/embed/eVoQm?data[rnddiv]=19072788074&data[responsive]=yes"></script></div>
        //- <div id="34512494759"><script type="text/JavaScript" src="https://www.aparat.com/embed/sfUyk?data[rnddiv]=34512494759&data[responsive]=yes"></script></div>
        //- <div id="89163630656"><script type="text/JavaScript" src="https://www.aparat.com/embed/YsGWx?data[rnddiv]=89163630656&data[responsive]=yes"></script></div>
    script(src="/javascripts/game.js") 
    script(src="/javascripts/chatClient.js") 

