a(class="link #{page == 1 ? 'active' : ''}" href="/docs/soccer-sim?page=1") معرفی
a(class="link #{page == 2 ? 'active' : ''}" href="/docs/soccer-sim?page=2") نصب نرم افزار ها
a(class="link #{page == 3 ? 'active' : ''}" href="/docs/soccer-sim?page=3") آشنایی با WeBots
a(class="link #{page == 4 ? 'active' : ''}" href="/docs/soccer-sim?page=4") برنامه نمونه
a(class="link #{page == 5 ? 'active' : ''}" href="/docs/soccer-sim?page=5") سنسور ها
a(class="link #{page == 6 ? 'active' : ''}" href="/docs/soccer-sim?page=6") الگوریتم گل زدن
a(class="link #{page == 7 ? 'active' : ''}" href="/docs/soccer-sim?page=7") الگوریتم دفاع
a(class="link #{page == 8 ? 'active' : ''}" href="/docs/soccer-sim?page=8") الگوریتم دروازه بان
a(class="link #{page == 9 ? 'active' : ''}" href="/docs/soccer-sim?page=9") الگوریتم kickOff
