extends ../layout

block content 
    .tutorial 
        .content
            video(controls preload="auto"  controlsList="nodownload" oncontextmenu="return false;")
                source(src="https://doc-14-5s-docs.googleusercontent.com/docs/securesc/soju2vgv86ddtifr1skfq96okqgfckjn/lbbbhv2mbalf2vmge4cgcigivub0g5tt/1645282275000/09998924344030974518/09998924344030974518/1ePyyRyKbN1fbictZ0X1JRFleh9WyA--5?e=download&ax=ACxEAsZ4puMoPPMWj9jrqXNDZaqu1Cu_HNn8L1S6kSj_2u33dQyxhuOQ1Rnq7DFZeRD6R-Imimv5w6lEhCsu3n9q4HfWl3ygZP8ZpMakwic5U3cbhdJgsrL54tROWsxhNymCFP0hUIcG2x_2ecAwgdsqzO2vdL1NZe8OTTqeDoQ1G_qS47yI2d_dxp5Vqm-kanohp1oYqdmtZQ5B8hd3_YsoQPIUQ2TwMuxi8Fcq55niN9dKtQ6Q6j3vuIcDtlYqFt2_qCcwqZusB8aC1wC8MbsfEz-DRB0YWqaYIyKkZ7xWXv26w_zBKo8QFP6nqyV1PwIrY54RIpz7Zz-Na65wF8W0i2heXzDrdfW-RRrKePXD5ngB7a7Vt0HBeWjbuKFPG2Gg5YMsxkGpB6h0BKxmRnFXbJOmGN9uX6T3T_lEOeGpxjC7sdf3AfE2_ysyYP6uJ25gFNrneogtEeVLJDYr3j3d6uviQUVPuU5SFTaBTFGnMmwckNBRps-g1syBBDfc7fDTxQEqCk_pHP2zkvIXz_Yq42AiJXRy25T-WeFoUKXc0BUEh4XlE1_npEyOAezIzFWv_67lxtNeOcXUH7V53pYvr3Nfl7N4V7rAee8gPEs5h_FyF833uSL2VSoFTnvAlgL6o2T4rYoMW5cZwhCloAGxy1p89S-55voL0tKF4jE&authuser=0" type="video/mp4")
            .actions 
                a.item(href="/tutorials/like?tutorialID=#{tutorial._id}&session=#{session}") 
                    i.fa.fa-heart-o.heart-o
                    i.fa.fa-heart.heart
                    .val= tutorial.likes[session]
                .item 
                    i.fa.fa-eye 
                    .val= tutorial.seen[session]
        .sidebar-view 
            .sidebar 
                a.dark-light-switch(href="/tutorials/dark-light?tutorialID=#{tutorial._id}&session=#{session}") 
                    i.fa.fa-sun-o.light-switch
                    i.fa.fa-moon-o.dark-switch
                h1 RCJ Soccer Sim 
                h2 شبیه ساز ربات های فوتبالیست
                .session-list
                    include ../links
                    
    script(src="/javascripts/tutorials.js") 
    -if(darkMode){
        script.
            $('.dark-switch').hide();
            $('.light-switch').show();
            $(':root').css('--dark-background', '#e2ecee');
            $(':root').css('--light-background', '#324054');
            $(':root').css('--light', '#181b2c');
            $(':root').css('--dark', 'white');
    -}